<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.example.mapper.ProductMapper">
 
    <select id="getBestProductList" resultType="com.example.dto.ProductVO">
        SELECT * FROM PRODUCTS WHERE P_STATUS = 1
    </select>
    
    <select id="getNewProductList" resultType="com.example.dto.ProductVO">
        SELECT * FROM PRODUCTS WHERE P_STATUS = 0
    </select>
    
    <select id="getOneProduct" parameterType="int" resultType="com.example.dto.ProductVO">
        SELECT * FROM PRODUCTS WHERE PSEQ = #{pseq}
    </select>
 
</mapper>


